h1 Users List:
form(action="/users/search",method="GET")
    input(type="text" name="q" value=nameInput)
    button() Search

form(action="/users/create", method="GET")
    button() Add
ul
    each val,index in users
        li= (index+1)+':'+val.name
