extend ../layouts/common.pug
block content
    h1 view user
    b Name:
    span &nbsp;
    span= users.name
    br
    b Phone:
    span &nbsp;
    span= users.phone
    br
    b ID:
    span &nbsp;
    span= users.id